# **Assignment-1**
 - Akash P
 - 21BAI10403
 - VIT Bhopal

In [1]:
import pandas as pd

## **Task - 1** 
### Create a pandas dataframe (DataFrame name as 'df') with numpy random values (4 features and 4 observation)

In [3]:
df = pd.DataFrame([[15,35,16,48],[65,45,12,74],[45,14,56,65],[98,45,18,65]])
df

    0   1   2   3
0  15  35  16  48
1  65  45  12  74
2  45  14  56  65
3  98  45  18  65

## **Task - 2**
### Rename the task - 1 'df' dataframe column names to 'Random value 1', 'Random value 2', 'Random value 3' & 'Random value 4'

In [4]:
df.columns = ['Random value 1','Random value 2','Random value 3','Random value 4']
df

   Random value 1  Random value 2  Random value 3  Random value 4
0              15              35              16              48
1              65              45              12              74
2              45              14              56              65
3              98              45              18              65

## **Task - 3**
### Find the descriptive statistics of the 'df' dataframe.

In [5]:
df.sum()

Random value 1    223
Random value 2    139
Random value 3    102
Random value 4    252
dtype: int64

In [6]:
df.sum(axis=1)

0    114
1    196
2    180
3    226
dtype: int64

In [7]:
df["Random value 1"].mean()

55.75

In [8]:
df["Random value 2"].mean()

34.75

In [9]:
df["Random value 3"].mean()

25.5

In [10]:
df["Random value 4"].mean()

63.0

In [12]:
print(df["Random value 1"].median())
print(df["Random value 2"].median())
print(df["Random value 3"].median())
print(df["Random value 4"].median())

55.0
40.0
17.0
65.0

In [16]:
df.count()

Random value 1    4
Random value 2    4
Random value 3    4
Random value 4    4
dtype: int64

In [17]:
df.describe()

       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000         4.00000
mean        55.750000       34.750000       25.500000        63.00000
std         34.865217       14.614491       20.485767        10.86278
min         15.000000       14.000000       12.000000        48.00000
25%         37.500000       29.750000       15.000000        60.75000
50%         55.000000       40.000000       17.000000        65.00000
75%         73.250000       45.000000       27.500000        67.25000
max         98.000000       45.000000       56.000000        74.00000

In [19]:
import numpy as np

In [20]:
df["Random Value 5"] = [18,np.nan,89,np.nan]

## **Task - 4**
### Check for the null values in 'df' and find the data type of the columns.

In [21]:
df.isnull().any()

Random value 1    False
Random value 2    False
Random value 3    False
Random value 4    False
Random Value 5     True
dtype: bool

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Random value 1  4 non-null      int64
 1   Random value 2  4 non-null      int64
 2   Random value 3  4 non-null      int64
 3   Random value 4  4 non-null      int64
 4   Random Value 5  2 non-null      float64
dtypes: float64(1), int64(4)
memory usage: 288.0 bytes

## **Task - 5**
### Display the 'Random value 2' & 'Random value 3' columns with location method and index location method.

In [27]:
#loc method
df.loc[:,"Random value 2":"Random value 3"]

   Random value 2  Random value 3
0              35              16
1              45              12
2              14              56
3              45              18

In [28]:
#iloc method
df.iloc[:,1:3]

   Random value 2  Random value 3
0              35              16
1              45              12
2              14              56
3              45              18